/** @format */

.help {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e9e9e9;
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.help-arrow {
  display: flex;
  width: auto;
  margin-top: 2rem;
  margin-left: -39rem;
}

.help-arrow .bx-chevron-left {
  color: #3d4a6a;
  font-size: 4rem;
}

.help-page {
  margin: 0 30rem;
}

.help-text-center {
  background-color: #e9e9e9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 4rem;
  gap: 2rem;
  width: 40rem;
}

.help-text-center h1 {
  background-color: transparent;
  color: #050f2a;
  font-size: 3rem;
}

.help-text-center p {
  background-color: transparent;
  color: #050f2a;
  font-size: 1.5rem;
}

.help-mail {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  gap: 0.5rem;
  background-color: #d9d9d9;
  padding: 1.5rem;
  border-radius: 1rem;
}

.help-mail img {
  background-color: transparent;
  height: 3rem;
  width: 3rem;
}

.help-mail p {
  background-color: transparent;
  color: #050f2a;
  font-size: 2rem;
}

.image-help img {
  background-color: #e9e9e9;
  width: 62.5rem;
}

/* -------Responsividade--------- */

@media (max-width: 1900px) {
  .help-arrow .bx-chevron-left {
    margin-left: 10rem;
  }
}

@media (max-width: 1565px) {
  .help-arrow .bx-chevron-left {
    margin-left: 17rem;
  }
}

@media (max-width: 1366px) {
  .help-arrow .bx-chevron-left {
    margin-left: 27rem;
  }
}

@media (max-width: 1280px) {
  .image-help img {
    width: 55rem;
  }
}

@media (max-width: 1150px) {
  .image-help img {
    width: 50rem;
  }
}


@media (max-width: 1024px) {
  .help-arrow .bx-chevron-left {
    margin-left: 32rem;
  }
}

@media (max-width: 960px) {
  .help-text-center h1 {
    font-size: 2.8rem;
  }

  .help-text-center p {
    font-size: 1.4rem;
  }

  .help-mail {
    padding: 1rem;
  }

  .image-help img {
    width: 45rem;
  }
}

@media (max-width: 845px) {
  .image-help img {
    width: 35rem;
  }

  .help-arrow .bx-chevron-left {
    margin-left: 35rem;
  }
}

@media (max-width: 768px) {
  .help-text-center h1 {
    font-size: 2.5rem;
  }

  .help-text-center p {
    font-size: 1.2rem;
  }

  .image-help img {
    width: 33rem;
  }

  .help-arrow .bx-chevron-left {
    margin-left: 36rem;
  }
}

@media (max-width: 730px) {
    .help-arrow .bx-chevron-left {
        margin-left: 37.5rem;
    }
}

@media (max-width: 668px) {
  .help-text-center h1 {
    font-size: 2.2rem;
  }

  .help-text-center p {
    width: 35rem;
    font-size: 1.1rem;
  }

  .help-mail {
    height: 4rem;
  }

  .help-mail img {
    height: 2.5rem;
    width: 2.5rem;
  }

  .help-mail p {
    font-size: 1.5rem;
  }

  .image-help img {
    width: 29rem;
  }

  .help-arrow .bx-chevron-left {
    margin-left: 39rem;
  }
}

@media (max-width: 610px) {
  .help-text-center {
    width: 35rem;
  }

  .help-text-center h1 {
    font-size: 2.1rem;
  }

  .help-text-center p {
    width: 29rem;
  }

  .help-mail {
    height: 3rem;
  }

  .help-mail img {
    height: 2rem;
    width: 2rem;
  }

  .help-mail p {
    font-size: 1.4rem;
  }

  .image-help img {
    width: 27rem;
  }
  .help-arrow .bx-chevron-left {
    margin-left: 37.8rem;
  }
}

@media (max-width: 590px) {
    .help-arrow .bx-chevron-left {
        margin-left: 39rem;
      }
}

@media (max-width: 535px) {
  .help-text-center {
    width: 30rem;
  }

  .help-text-center h1 {
    font-size: 1.9rem;
  }

  .help-text-center p {
    width: 25rem;
  }

  .image-help img {
    width: 23rem;
  }

  .help-arrow .bx-chevron-left {
    margin-left: 38rem;
  }
}

@media (max-width: 500px) {
  .help-text-center h1 {
    font-size: 1.7rem;
  }

  .help-text-center p {
    width: 21rem;
  }

  .image-help img {
    width: 22rem;
  }
  .help-arrow .bx-chevron-left {
    margin-left: 38.5rem;
  }
}

@media (max-width: 485px) {
  .help-text-center {
    width: 25rem;
  }
  .help-arrow .bx-chevron-left {
    margin-left: 36.6rem;
  }
}

@media (max-width: 450px) {
  .help-text-center h1 {
    font-size: 1.4rem;
  }

  .help-text-center p {
    width: 20rem;
  }

  .help-mail {
    height: 2.5rem;
  }

  .help-mail img {
    height: 1.5rem;
    width: 1.5rem;
  }

  .help-mail p {
    font-size: 1.2rem;
  }

  .image-help img {
    width: 21rem;
  }

  .help-arrow .bx-chevron-left {
    margin-left: 38rem;
  }
}

@media (max-width: 425px) {
  .help-text-center h1 {
    font-size: 1.3rem;
  }

  .help-text-center p {
    width: 18rem;
  }

  .help-mail {
    height: 2.2rem;
  }

  .help-mail img {
    height: 1.2rem;
    width: 1.2rem;
  }

  .help-mail p {
    font-size: 1.1rem;
  }

  .image-help img {
    width: 19rem;
  }
 
  .help-arrow .bx-chevron-left {
    margin-left: 38.3rem;
  }
}


@media (max-width: 400px) {
  .help-text-center {
    width: 20rem;
  }
  .help-arrow .bx-chevron-left {
    margin-left: 36.5rem;
  }
}


@media (max-width: 375px) {
    .help-text-center h1 {
        font-size: 1.2rem;
    }
    
    .help-text-center p {
        width: 16rem;
    }
    
    .image-help img {
        width: 17rem;
    }
    
    .help-arrow .bx-chevron-left {
        margin-left: 37rem;
    }
    
}

@media (max-width: 360px) {
    .help-arrow .bx-chevron-left {
        margin-left: 37.5rem;
    }
}

@media (max-width: 345px) {
    .help-arrow .bx-chevron-left {
        margin-left: 38.3rem;
    }
}

@media (max-width: 320px) {
  .help-text-center h1 {
    font-size: 1.1rem;
  }

  .help-text-center p {
    width: 14rem;
  }

  .image-help img {
    width: 14rem;
  } 
}
