.aboutPage{
    background-color: #E9E9E9;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.aboutPage_text1{
    background-color: #3D4A6A;
    height: 25rem;
    width: 25rem;
    border: 0;
    border-radius: 15px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 8px 2px #3D4A6A;

}

.aboutPage_text1 h2{
   font-size: 2rem;
    
}

.aboutPage_text1 p{
    font-size: 1.2rem;
}

.aboutPage_text2{
    background-color: #3D4A6A;
    height: 25rem;
    width: 25rem;
    border: 0;
    border-radius: 15px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 8px 2px #3D4A6A;
}

.aboutPage_text2 h2{
    font-size: 2rem;

}

.aboutPage_text2 p{

}

.aboutPage_text3{
    background-color: #3D4A6A;
    height: 25rem;
    width: 25rem;
    border: 0;
    border-radius: 15px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 8px 2px #3D4A6A;
}

.aboutPage_text3 h2{
    font-size: 2rem;

}

.aboutPage_text3 p{

}