.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ff0000;
  }
  
  .loading-svg {
    width: 100px;
    height: 100px;
  }
  
  @keyframes pulse {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    50% {
      opacity: 0.5;
      transform: scale(1.1);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .loading-svg circle {
    animation: pulse 1.5s infinite ease-in-out;
  }
  