/* Estilos gerais para a página de histórico de corridas */
.ride-history-page {
    min-height: 100vh;
    background-color: #d9d9d9;
    font-family: Arial, sans-serif;
    padding: 20px;
    box-sizing: border-box;
  }
  
  /* Estilos para a imagem */
  .ride-history-page img {
    max-width: 6rem;
    background-repeat: no-repeat;
    object-fit: cover;
  }
  
  /* Estilos para a lista de corridas */
  .ride-list {
    background-color: white;
    width: 100%;
    gap: 2rem;
    border-radius: 0.5rem;
    padding: 15px;
    margin-bottom: 20px;
    position: relative; /* Adicionado para que o botão possa ser posicionado de forma absoluta */
  }
  
  /* Estilos para o texto do título */
  .ride-history-page h1 {
    margin: 0;
    font-size: 2em;
    font-weight: bold;
    color: #171616;
    text-align: center;
    padding: 12px;
  }
  
  .ride-history-page h2 {
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
    color: #eee6e6;
    text-align: left;
    padding: 12px;
  }


  .ride-history-page .ride-info strong {
    color: #141519;
    margin: 1px;
    display:flex;
    /* border: solid red; */
    height: 1rem;
  }

  
  /* Estilos para o botão de detalhes */
  .ride-history-page button {
    /* padding: 10px 15px; */
    font-size: 1em;
    color: #fff;
    background-color: #4B5878;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: absolute; /* Faz o botão ser posicionado de forma absoluta dentro do contêiner pai */
    right: 25px; /* Posiciona o botão a 15px do lado direito do contêiner */
    bottom: 45px; /* Posiciona o botão a 15px do fundo do contêiner */
  }
  