
:root{
    --pg-profile-color: green;
    --bg-profile-color: #D9D9D9;
    --nv-i-color:var(--bg-color)
}

.profile-passenger-page {
    display: grid;
    background-color: var(--bg-profile-color);
    min-height: 100vh;
    grid-template-columns: 3.75rem 1fr; 
}

.info-profile-passenger {
    padding: 2rem; 
    border-radius: 0.625rem;
    grid-column: 2;
    height: 100%;
    display: grid;
    gap: 2.5rem 0.625rem; 
    grid-template-columns: 1fr 5fr;
}

.passenger {
    background-color: white; 
    padding: 3.125rem; 
    border-radius: 0.5rem; 
    border-bottom: 0; 
    grid-column: 1;
    grid-row: 1;
}

.profile-img-passenger { 
    border-radius: 50%; 
    width: 8.75rem; 
    height: 8.75rem; 
}

.personal-info-passenger {
    display: flex; 
    flex-direction: column;
    background-color: white;
    border-radius: 1rem;
    grid-column: 2;
    grid-row: 1;
    gap: 0.725rem 0;
    overflow: hidden; 
    margin: 2 0 2 0;
    padding: 1rem 2rem;
    justify-content: space-evenly;
}


.personal-info-passenger label {
    font-size: 1rem;
    color: #090909;   
}

.personal-data-passenger{
    font-size: 1.6rem; 
    
}
.accessibility-info {
    display: flex; 
    flex-direction: column;
    background-color: white;
    border-radius: 0.625rem; 
    grid-column: span 2;
    grid-row: 2;
    gap: 3.1rem 0; 
    overflow: hidden;
    justify-content: space-evenly;
}

.accessibility-info label {
    font-size: 1rem; 
    color: #0a0606;
    padding-left:  2rem;
    padding-bottom: 1rem;
}

.title-accessibility-passenger {
    text-align: center; 
    padding: 2.2rem;
    background-color: #41444D;
    width: 100%;
}

.title-accessibility-passenger .accessibility-passenger{
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

@media (max-width: 768px) {
    .passenger {
        padding: 3rem; 
    }

    .profile-img-passenger { 
        width: 8rem; 
        height: 8rem;
    }

    .passenger figure { 
        text-align: center;
    }
}

@media (max-width: 650px) {
    .info-profile-passenger {
        padding: 1.5rem; 
        grid-column: 2;
        gap: 1.5rem 0.625rem; 
    }
}

@media (max-width: 600px) {
    .profile-passenger-page {
        display: grid;
        grid-column: 1;
    }

    .info-profile-passenger { 
        grid-column: 2;
        grid-template-columns: 1;
        grid-row: 3;
    }

    .passenger {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .personal-info-passenger {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        gap: 1rem;
    }

    .accessibility-info {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 3;
        gap: 1.5rem 0;
    }
}

@media (max-width: 425px) {
    .info-profile-passenger { 
        padding: 1rem;
    }

    .passenger {
        padding: 1rem;
        height: auto;
    }

    .profile-img-passenger {
        height: 4rem;
        width: 4rem;
    }

    .accessibility-info label {
        padding-right: 1rem;
        padding-left:  1rem;
        padding-bottom: 1rem;
    }
}