.main-passenger {
    background-color: #D9D9D9;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-passenger {
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
}

.sign-up-back-home {
    background-color: transparent;
    margin-left: -10rem;
    margin-top: -5rem;
}

.sign-up-back-home i{
    font-size: 3.2rem;
    color: #E9E9E9;
}

.sign-in-area-passenger {
    padding: 4rem 3rem;
    background-color: #3D4A6A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    gap: 3rem;
}

.sign-in-area-passenger img {
    width: 8rem;
}

.sign-in-text-passenger {
    font-family: #3D4A6A;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

.sign-in-text-passenger h2 {
    text-wrap: wrap;
    font-size: 1.2rem;
    font-weight: 400;
}

.sign-in-text-passenger h2 span {
    background-color: transparent;
    color: #A1C7F4;
    font-weight: 700;
}

.sign-in-text-passenger p {
    font-size: 0.8rem;
    font-weight: lighter;
}

.sign-in-area-button {
    border: 2px solid #D9D9D9;
    background: linear-gradient(to right,#3D4A6A, #D9D9D9 90%);
    color: #fff;
    border-radius: 5px;
    height: 2.5rem;
    width: 10rem;
    cursor: pointer;
}

.sign-up-passenger {
    padding: 2rem 5rem;
    background-color: #E9E9E9;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.sign-up-text-passenger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-up-text-passenger h2 {
    color: #3D4A6A;
    font-weight: 700;
    font-size: 1.7rem;
}

.sign-up-text-passenger p {
    color: #3D4A6A;
    font-size: 0.9rem;
    font-weight: 600;
}

.sign-up-input-passenger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.sign-up-input-passenger input {
    background: #D9D9D9;
    color: #7a7a7a;
    border: none;
    outline: none;
    padding-left: 15px;
    height: 2.2rem;
    width: 25rem;
}

#password, #disability, #assistanceLevel {
    width: 100%;
    padding: 0 0 0 10px;
}

.sign-up-passenger button {
    background: linear-gradient(to right,#3D4A6A, #D9D9D9 90%);
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 12rem;
    height: 3rem;
    cursor: pointer;
}

.form_navigation {
    display: flex;
    gap: 1rem;
}


@media (max-width: 900px) {
    .sign-up-back-home {
        margin-left: -10rem;
        margin-top: -2rem;
    }

    .sign-up-passenger {
        padding: 2rem 4rem;
        height: 100%;
    }
}

@media (max-width: 800px) {
    .sign-up-back-home {
        margin-left: -7rem;
        margin-top: -2rem;
    }

    .sign-up-passenger {
        padding: 2rem 3rem;
    }
}

@media (max-width: 768px) {
    .section-passenger {
        flex-direction: column-reverse;
        height: auto; 
        width: 90%;
    }

    .sign-up-passenger {
        padding: 1rem;
    }

    .sign-in-area-passenger {
        padding: 1rem;
        width: 100%;
        height: 20rem;
        gap: 1.5rem;
    }

    .sign-up-back-home {
        margin-left: -23rem;
        margin-top: -0.5rem;
    }
}

@media (max-width: 600px) {
    .sign-up-input-passenger {
        width: 100%;
    }
    
    .sign-up-input-passenger input {
        width: 90%;
    }

    .sign-up-input-passenger #password, #disability, #assistanceLevel {
        width: 90%;
    }

    .sign-up-back-home {
        margin-left: -19rem;
        margin-top: -0.5rem;
    }

    .sign-up-passenger button {
        width: 10rem;
    }

    .sign-in-area-button {
        width: 9rem;
    }

}

@media (max-width: 425px) {
    .main-passenger {
        padding: 0;
    }

    .sign-up-back-home {
        margin-left: -15rem;
        margin-top: -0.5rem;
    }

    .sign-up-passenger {
        padding: 1rem 0;
    }

    .sign-up-input-passenger input {
        width: 90%;
    }

    .sign-up-passenger button {
        width: 9rem;
    }

    .sign-in-area-button {
        width: 8rem;
    }

    .form_navigation {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}

@media (max-width: 350px) {
    .main-passenger {
        padding: 0;
    }

    .sign-up-back-home {
        margin-left: -13rem;
        margin-top: -0.5rem;
    }
}
