
/* Navbar lateral esquerda */
.sidebar {
    background-color: #282F41;
    border-radius: 0 0.625rem 0.625rem 0; 
    box-shadow: 0.125rem 0.125rem 0.0625rem rgba(0, 0, 0, 0.2); 
    height: 100vh; /* Faz a navbar ocupar toda a altura da tela */
    grid-column: 1;
    font-size: 3.75rem; /* 60px => 3.75rem */
    gap: 0.8rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 4rem;
    align-items: center;
    z-index: 100;
}
.sidebar i{
    font-size: 2.2rem;
    color: white;
    padding:  0.5rem;
    margin-left: .2rem;
}

.sidebar i:hover {
    border-radius: 40px;
    background-color: #353a49;
}

.bx-log-out{
    position: absolute;
    bottom: 0;
    left: 50%; 
    transform: translateX(-63%); 
}
