.sidebar {
    background-color: #282F41;
    border-radius: 0 0.625rem 0.625rem 0; 
    box-shadow: 0.125rem 0.125rem 0.0625rem rgba(0, 0, 0, 0.2); 
    height: 100vh;
    grid-column: 1;
    font-size: 3.75rem;
    gap: 0.8rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 4rem;
    align-items: center;
    z-index: 100;
}

.sidebar i{
    font-size: 2.2rem;
    color: white;
    padding:  0.5rem;
    margin-left: .2rem;
}

.sidebar i:hover {
    border-radius: 40px;
    background-color: #353a49;
}

.bx-log-out{
    position: absolute;
    bottom: 0;
    left: 50%; 
    transform: translateX(-63%); 
}

@media (max-width: 650px) {
    .sidebar {
        font-size: 3.6rem;
        gap: 0.6rem;
        width: 3.5rem;
    }
}

@media (max-width: 425px) {
    .sidebar {
        font-size: 3.4rem;
    }
}

@media (max-width: 375px) {
    .sidebar {
        font-size: 3.4rem;
        gap: 0.5rem;
        width: 3.2rem;
    }
}