@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

main {
    background-color: #D9D9D9;
    display: flex;
    flex-direction: row;
}

.container {
    width: 600px;
    border-radius: 0 20px 0 0;
    height: 100vh;
    background-color: #E9E9E9;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.menu {
    border-radius: 0 20px 0 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: var(--bg-color);
    height: 4.25rem;
    display: flex;
    margin-bottom: 40px;
    align-items: center;
    gap: 6rem;
}

.menu i {
    font-size: 3rem;
    color: #fff;
    margin-left: 1rem;
}

.menu img {
    width: 120px;
    margin-right: 100px;
}

.card-raceRequest {
    max-width: 750px;
    border-radius: 8px;
    background-color: #D9D9D9;
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 0 35px;
    transition: .4s;
}

.card-raceRequest:hover {
    transform: scale(1.02);
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 600px;
}

.card-raceRequest img {
    max-width: 100px;
    max-height: 60px;
}

.request-info {
    padding: 0 20px 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.request-info label {
    color: #3D4A6A;
    font-weight: 800;
}

.descriptionRequest {
    font-size: 12px;
    margin-bottom: 4px;
    width: max-content;
    font-weight: 100;
    color: #282F41;
}

.prox {
    font-size: 10px;
    color: #282F41;
    font-weight: 700;
}

.value {
    padding-bottom: 25px;
}

.price {
    font-weight: 800;
    color: #282F41;
}

.shortly img {
    margin-top: 25px;
    width: 350px;
    border-radius: 8px;
    transition: .4s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}

.shortly img:hover {
    transform: scale(1.02);
}


.race-request-btn {
    background-color: #627194;
    border-radius: 5px;
    margin-top: 30px;
    width: 170px;
    height: 38px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border: none;
    transition: .4s all;
}

.race-request-btn:hover {
    color: #3D4A6A;
    transform: scale(1.02);
    background-color: #E9E9E9;
    border: #3D4A6A solid 1px;
}

.card-raceRequest:focus {
    border: #3D4A6A solid 1px;
}

.race-request-btn.active {
    background-color: #060825;
    color: #E9E9E9;
}

.payments {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 80%;
    padding: 20px 0;
  }
  
  .payment {
    width: 16px;
    height: 16px;
    transform: scale(0.8);
    margin-right: 8px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .payment:checked {
    background-color: #7bc23a;
  }
  
  .payment:focus {
    outline: none;
    box-shadow: 0 0 3px #aaa;
  }
  

.maps {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-image: url(mps.png);
    position: relative;

}

.placa {
    margin-top: 30px;
    background: #D9D9D9;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 8px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    font-size: 1rem;
    width: 20rem;
    height: 3rem;
    border: #3D4A6A solid 1px;
    position: absolute;
    z-index: 1000;
}

#saida {
    top: 20px;
    left: 250px;
}

#chegada {
    top: 20px;
    right: 300px;
}

.placa p {
    margin: 0;
    font-weight: 700;
    font-size: 12px;
    color: #282F41;
}

.placa span {
    margin-top: 2px;
    font-weight: 400;
    font-size: 14px;
    color: #282F41;
}

@media (max-width: 1280px) {
    .payments img {
        width: 1.3rem; 
    }
}

@media (max-width: 1024px) {
    .container {
        width: 22rem;
    }

    .card-raceRequest {
        width: 21rem;
        height: 8rem;
    }

    .card-raceRequest img {
        width: 5rem;
        height: 3.1rem;
    }

    .request-info {
        padding: 0 10px;
    }

    .shortly img {
        width: 21rem;
    }
}

@media (max-width: 768px) {
    .container {
        width: 18rem;
    }

    .card-raceRequest {
        width: 17rem;
        height: 10rem;
        flex-direction: column;
    }

    .request-info h2 {
        margin: 0;
        font-size: 20px;
    }

    .card-raceRequest img {
        width: 5rem;
        height: 3.1rem;
    }

    .card-raceRequest .request-info {
        padding: 0 10px;
    }
 
    .card-raceRequest .descriptionRequest {
        margin-bottom: 0;
        margin-top: 0;
    }
    
    .card-raceRequest .prox {
        margin-top: 0;
    }

    .card-raceRequest .price {
        margin-top: 0;
    }

    .card-raceRequest .value {
        padding: 0 0 5px;
    }

    .shortly img {
        width: 17rem;
    }

    .menu {
        gap: 1.5rem;
    }
}

@media (max-width: 768px) {
    .container {
        width: 15rem;
    }

    .card-raceRequest {
        width: 14rem;
    }

    .card-raceRequest img {
        width: 5rem;
        height: 3.1rem;
    }

    .shortly img {
        width: 13rem;
    }
}

@media (max-width: 500px) {
    .container {
        width: 12rem;
    }

    .card-raceRequest {
        width: 11rem;
    }

    .card-raceRequest img {
        width: 4.5rem;
        height: 3rem;
    }

    .shortly img {
        width: 11rem;
    }

    .request-info h2 {
        font-size: 18px;
    }

    .card-raceRequest .descriptionRequest {
        font-size: 14px;
    }
    
    .card-raceRequest .prox {
        font-size: 13px;
    }

    .race-request-btn {
        width: 9rem;
    }

    .menu {
        gap: 0;
    }

    .payments label {
        font-size: 14px;
    }
}

@media (max-width: 375px){
    .container {
        width: 10rem;
    }

    .card-raceRequest {
        width: 9rem;
        margin: 0;
    }

    .shortly img {
        width: 8rem;
    }

    .card-raceRequest .descriptionRequest {
        font-size: 11px;
    }
    
    .card-raceRequest .prox {
        font-size: 11px;
    }

    .race-request-btn {
        width: 7rem;
    }

    .menu img {
        display: none;
    }

    .payments label {
        font-size: 12px;
    }
}