@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;padding: 0;text-decoration: none;list-style: none;scroll-behavior: smooth;box-sizing: border-box;font-family: "Inter", sans-serif;list-style: none;
}

:root {
    --bg-color: #3D4A6A;
    --menu-border-color: #2f3d60;
    --text-color: #FFF;
    --button-color: #8D8B9C;
    --button_hover-color: #63626c;
}

.menu-nav {  /*classname alterado na resposividade pois estava em conflito com outra*/
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    width: 100vw;
    height: 4rem;
    border: var(--menu-border-color) solid  1px;
    align-items: center;
    justify-content: space-around;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1280px;
}

img {
    /* border: green solid 1px; */
    width: 150px;
}

.class1 {
    display: flex;
    gap: 20px;
    align-items: center;
    /* border: orangered solid 1px; */
}

.list {
    display: flex;
    font-size: 16px;
    color: var(--text-color);
}

#list-two {
    /* border: red solid; */
    gap: 20px;
}

ul {
    /* border: red solid 1px; */
    gap: 20px;
    align-items: center;
}

ul:hover {
    color: var(--bg-color);
}

button {
    font-size: 16px;
    padding: 8px 14px;
    width: 8.8rem;
    height: 2.5rem;
    color: var(--text-color);
    border-radius: 8px;
    border: 1px transparent;
    background-color: var(--button-color);
    cursor: pointer;
    transition: .4s;
    box-shadow: #000;
}

button:hover {
    background-color: var(--bg-color);
    /* transition: ; */
    border: var(--text-color) solid .5px;
}

/* RESPONSIVIIDADE */

@media (max-width: 1280px) {
    .menu-content {
        padding: 0 2rem;
    }
    
    img {
        width: 8rem;
    }
    
    .list {
        font-size: 0.9rem;
    }
    
    button {
        font-size: 0.9rem;
    }
}


@media (max-width: 970px) {
    .menu-content {
        padding: 0 1rem;
    }
}


@media (max-width: 768px) {
    .list .solicitar-corrida {
        display: none;
    }
}


@media (max-width: 425px) {
    img {
        width: 5.5rem;
    }
}