/* Estilos gerais para a página de histórico de corridas */
.ride-history-page {
    min-height: 100vh;
    background-color: #d9d9d9;
    font-family: Arial, sans-serif;
    padding: 20px;
    box-sizing: border-box;
  }
  .ride-item {
    /* border: solid red; */
  }

  /* Estilos para a imagem */
  .ride-history-page img {
    max-width: 6rem;
    background-repeat: no-repeat;
    object-fit: cover;
  }
  
  /* Estilos para a lista das Linhas das corridas */
  .ride-list {
    background-color: white;
    width: 100%;
    gap: 2rem;
    border-radius: 0.5rem;
    padding: 15px;
    /* border: solid red; */
  }
  
  /* Estilos para o texto ATIVIDADE do título */
  .ride-history-page h1 {
    margin: 0;
    font-size: 2em;
    font-weight: bold;
    color: #171616;
    text-align: center;
    padding: 12px;
  }
  
  /* Estilos para o texto  CORRIDAS do título */
  .ride-history-page h2 {
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
    color: #eee6e6;
    text-align: left;
    padding: 12px;
  }
  
  /* Estilos para o item de corrida */
  .ride-history-page .ride-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;

  }

  /* Estilos para o texto de detalhes */
  .ride-history-page .ride-info {
    display: flex;
    gap: 5rem;
    
  }

  .ride-info{
    /* border: 1px solyd red; */
  }

  /* .ride-history-page .ride-info strong {
    color: #141519;
    margin: 1px;
    display:flex; */
    /* border: solid red; */
    /* height: 1rem;
  } */

  
  /* Estilos para o botão de detalhes */
  .ride-history-page button {
    font-size: 1rem;
    color: #fff;
    background-color: #4B5878;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
  }
  