* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-footer-color: #191A1F;

    --text-footer-color: #fff;
}

.footer {
    display: flex;
    justify-content: space-around; /* alterado na responsividade*/
    align-items: center;
    background-color: var(--main-footer-color);
    padding: 0 2rem;
    width: 100%;
    height: 35rem; /* alterado na responsividade*/
    /* padding: 16rem 20rem; */
    bottom: -100rem;
    width: 100vw;   
}

.firstColumn {
    background-color: var(--main-footer-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
}

.logoFooter  {
    background-color: var(--main-footer-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    width: 14rem;
}

.logoFooter img{
    background-color: var(--main-footer-color);
    width: 11rem;
}

.logoFooter h3{
    background-color: var(--main-footer-color);
    color: var(--text-footer-color);
    font-size: 1.4rem;
}

.footerLinks{
    background-color: var(--main-footer-color);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footerLinks h3{
    background-color: var(--main-footer-color);
    color: var(--text-footer-color);
    font-size: 1.2rem;
}

.footer-ul{
    background-color: var(--main-footer-color);
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

.footer-ul li{
    list-style-type: none;
}

.footer-ul li a {
    background-color: var(--main-footer-color);
}

.footer-List{
    color: var(--text-footer-color);
    text-decoration: none;
}

.QrCodeAppInfo, .QrCodeParceiroInfo {
    background-color: var(--main-footer-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.QrCodeApp, .QrCodeParceiro {
    width: 10rem;
}

.QrCodeAppInfo h3, .QrCodeParceiroInfo h3 {
    background-color: var(--main-footer-color);
    color: var(--text-footer-color);
}

.QrCodeAppInfo p, .QrCodeParceiroInfo p {
    background-color: var(--main-footer-color);
    color: var(--text-footer-color);
    padding-top: 1rem;
}

/* .Arrow{
    position: absolute;
    bottom: 5rem;
    right: 5rem;
}

.Arrow img{
    width: 5rem;
} */

.sub-footer {
    width: 100vw;
    height: 2vh;
    background-color: #ffffff;
}

/* RESPONSIVIDADE */

@media (max-width: 1280px) {    
    .firstColumn {
        gap: 2rem;
    }
    
    .logoFooter  {
        width: 13rem;
    }

    .logoFooter img{
        width: 10rem;
    }
    
    .logoFooter h3{
        font-size: 1.2rem;
    }
    
    .QrCodeApp, .QrCodeParceiro{
        width: 7rem;
    }
    
    .QrCodeAppInfo h3, .QrCodeParceiroInfo h3{
        font-size: 1.1rem;
    }
    
    .QrCodeAppInfo p, .QrCodeParceiroInfo p{
        font-size: 0.9rem;
    }
}

@media (max-width: 970px) {
    .footer {
        padding: 0 1rem; 
    }
}

@media (max-width: 768px) {
    .QrCodeAppInfo p, .QrCodeParceiroInfo p {
        text-align: center;
    }
}

@media (max-width: 500px) {
    .QrCodeAppInfo {
        display: none;
    }
}

@media (max-width: 425px) {
    .footer {
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}