/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f3f3f3;
} */

/* :root {
    --main-color: #f3f3f3;
    --first-section-color: #3D4A6A;
    --second-section-color: #D9D9D9;

    --text-color: #fff;
} */

/* .homepage {
    position: relative;
    width: 100vw;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 100px;
    background-color: var(--first-section-color);
    color: var(--text-color);
    height: 85vh;
}

.form-container h1 {
    background-color: var(--first-section-color);
    font-size: 3rem;
}

.form-container p {
    background-color: var(--first-section-color);
    font-size: 1.2rem;
    margin-bottom: 2.5rem;
}

.form-container {
    background-color: var(--first-section-color);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-container input {
    padding: 0.6rem;
    max-width: 25rem;
    height: 2.8rem;
    border: none;
    border-radius: 5px;
    color: #000;
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.car-adapt {
    background-color: var(--first-section-color);
    width: 35rem;
}

.block {
    width: 7.8rem;
    height: 6.9rem;
    border-radius: 40px 40px 0 0;
    background-color: var(--second-section-color);
    position: absolute;
    bottom: 0;
    justify-items: end;
    text-align: center;
    right: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    cursor: pointer;
}

.block i {
    background-color: var(--second-section-color);
    color: #000;
    font-size: 2.5rem;
}

.block:hover {
    bottom: 10px;
    transition: .4s;
} */

/* ------------------ AboutUsSection ------------------ */

/* .about-us-section {
    
    background-color: var(--second-section-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -40px;
    width: 100vw;
    height: 80vh;
    padding-bottom: 100px;
    border-radius: 40px 40px 0 0;
    gap: 10rem;
    
}

.accessibility {
    background-color: var(--second-section-color);
    bottom: 0;
}

.accessibility h2 {
    background-color: var(--second-section-color);
    font-size: 3.8rem;
    font-weight: 900;
    color: #050F2A;
}

.sign-in-up {
    background-color: var(--second-section-color);
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 1.5rem;
}

.sign-in-up button {
    background-color: var(--first-section-color);
    border-radius: 8px;
    width: 8.8rem;
    height: 2.5rem;
}

.sign-in-up a {
    background-color: var(--second-section-color);
}

.sign-in-up button:hover {
    background-color: transparent;
    color: #050F2A;
    border: var(--first-section-color) solid 1px;
    transition: .2s ease;
}

.sign-in-up p {
    background-color: var(--second-section-color);
}

span {
    background-color: var(--second-section-color);
    display: flex;
    align-items: center;
    gap: 5px;
}

span p {
    text-align: center;
    color: #050F2A;
    font-weight: 700;
}

.link {
    color: #050F2A;
    font-size: 13px;
    text-align: center;
}

.link:hover {
    color: #756641;
    transition: .4s ease-in;
}

.section-accessibility {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.section-accessibility figure {
    background-color: var(--second-section-color);
}

.people-adapt {
    background-color: var(--second-section-color);
    width: 30rem;
}

figcaption {
    background-color: var(--second-section-color);
    color: var(--first-section-color);
    margin-bottom: 15px;
}

.square {
    background-color: #4B5878;
    width: 30rem;
    height: 11rem;
    border-radius: 35px;
    position: absolute;
    bottom: -6rem;
    z-index: 1;
} */


/* ------------------------- BenefitsSection ----------------------------- */

/* .benefits-section {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 3rem;
    height: auto;
    width: 100vw;
    padding: 3rem 0;
}

.benefits-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
    gap: 4rem;
    z-index: 2;
} */

/* .benefits-content figure {
    display: flex;
    flex-direction: column;
}

.benefits-content figurecaption {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    color: var(--first-section-color);
}

.car-safe {
    width: 27rem;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    gap: 2rem;
}

.description p {
    background-color: var(--main-color);
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--first-section-color);
}

.description button {
    background-color: var(--first-section-color);
    height: 2.5rem;
    width: 13rem;
    border-radius: 10px;
}

.card-benefits {
    display: flex;
    gap: 3.1rem;
    justify-content: center;
    align-items: center;
}

.card {
    background: var(--first-section-color);
    border: 1px solid #ddd;
    border-radius: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    height: 7rem;
    transition: .2s ease-in;
} */

/* .card:hover {
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
} */

/* .card p {
    background-color: var(--first-section-color);
}

.benefits {
    background: #8a9ecc;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 45px;
    border-radius: 10px;
}

.benefits p {
    background-color: #8a9ecc;
    font-size: 1.2rem;
} */

/* RESPONSIVIIDADE */

/* @media (max-width: 1280px) {
    .hero-section {
        padding: 20px 30px;
    }

    .form-container h1 {
        font-size: 2.5rem;
    }
    
    .form-container p {
        font-size: 1rem;
        margin-bottom: 2rem;
    }
    
    .form-container input {
        height: 2.5rem;
    }
    
    .car-adapt {
        width: 30rem;
    }
    
    .block {
        width: 7rem;
        height: 6.1rem;
    }


    --- AboutUsSection ---

    .about-us-section {
        gap: 5rem;
    }
    
    .accessibility h2 {
        font-size: 2.5rem;
        font-weight: 700;
    }

    .sign-in-up {
        align-items: start;
        flex-direction: column;
        gap: 1rem;
    }
    
    .sign-in-up button {
        width: 8.5rem;
        height: 2.5rem;
    }
    
    .people-adapt {
        width: 28rem;
    }
    
    .square {
        
        height: 10rem;
        bottom: -5rem;
        font-size: 1.3rem;
    }
    
    
    --- BenefitsSection ---
    
    .benefits-content {
        gap: 2rem;
    }

    .description {
        width: 30%;
    }

    .card-benefits {
        gap: 1.5rem;
    }   
}


@media (max-width: 970px) {
    .hero-section {
        padding: 15px 20px;
        justify-content: space-around;
    }

    .form-container h1 {
        font-size: 2.4rem;
    }
    
    .form-container input {
        height: 2.3rem;
    }
    
    .car-adapt {
        width: 28rem;
    }
    
    .block {
        right: 10%;
    }

    
    --- AboutUsSection ---

    .about-us-section {
        padding: 0 20px;
        gap: 2.5rem;
        tirar isso aqui jaja
    }
    
    .people-adapt {
        width: 26rem;
    }

    .square {
        width: 25rem;
        height: 7rem;
        bottom: -4rem;
    }
    
    
    --- BenefitsSection ---

    .car-safe {
        width: 22rem;
    }

    .description {
        gap: 1rem;
    }

    .card-benefits {
        flex-wrap: wrap;
        gap: 1rem;
    }
}


@media (max-width: 768px) {
    .hero-section {
        flex-direction: column;
        height: 90vh;
    }

    .block {
        display: none;
    }


    --- AboutUsSection ---

    .about-us-section {
        gap: 1rem;
        tirar isso aqui jaja
    }
    
    .accessibility h2 {
        font-size: 2.2rem;
    }

    .people-adapt {
        width: 20rem;
    }

    .square {
        width: 20rem;
    }
    
    
    --- BenefitsSection ---

    .car-safe {
        width: 18rem;
    }

    .description p {
        font-size: 1rem;
        font-weight: 500;
    }

    .card-benefits {
        gap: 1rem;
    }

    .card {
        width: 7rem;
        height: 6rem;
    }
}


@media (max-width: 600px) {

    .about-us-section {
        flex-direction: column;
    }

    --- BenefitsSection ---

    .benefits-section{
        height: auto;
    }

    .description-button {
        height: 2rem;
        width: 10rem;
    }

    .card-benefits {
        flex-direction: column; 
    } comentado

    .card {
        height: 6rem;
        width: 6rem;
    }

    .benefits {
        width: 13rem;
    }
}


@media (max-width: 425px) {

    .car-adapt {
        width: 22rem;
    }

    --- AboutUsSection ---

    .about-us-section {
        flex-direction: column;
    }

    figcaption {
        margin: 0 0 5rem;
    }
    
    .square {
        width: 20rem;
        font-size: 1rem;
        padding: 30px 60px 0 0;
    }

    --- BenefitsSection ---

    .benefits-section{
        height: auto;
        gap: 1rem;
    }

    .benefits-content {
        flex-direction: column;
    }

    .description {
        width: 70%;
    }

    .description-button {
        align-self: center;
    }

    .card {
        height: 6rem;
        width: 6rem;
    }

    .benefits {
        height: 2.5rem;
        width: 10rem;
    }

    .benefits p {
        font-size: 1rem;
    }
}


@media (max-width: 375px) {
    .car-adapt {
        display: none;
    }

    --- AboutUsSection ---

    .square {
        width: 18rem;
        font-size: 1rem;
        padding: 30px 40px 0 0;
        left: 2.6rem;
    }

    --- BenefitsSection ---

    .card {
        height: 6rem;
        width: 6rem;
    }

    .benefits {
        height: 2.5rem;
        width: 10rem;
    }

    .benefits p {
        font-size: 1rem;
    }
}

@media (max-width: 320px) {
    
    --- AboutUsSection ---

    .square {
        width: 16rem;
        font-size: 1rem;
        padding: 30px 0 0;
        left: 2rem;
    }

    --- BenefitsSection ---

    .card-benefits {
        gap: 0.5rem;
    }

    .card {
        height: 6rem;
        width: 6rem;
    }

    .benefits {
        height: 2.5rem;
        width: 10rem;
    }

    .benefits p {
        font-size: 1rem;
    }
} */