
:root{
    --pg-profile-color: green;
    --nv-i-color:var(--bg-color)
}

.profile-driver {
    display: grid;
    /* background-color: var(--bg-color); */
    min-height: 100vh;
    grid-template-columns: 3.75rem 1fr; 
}

.info-profile-driver {
    background-color: #d9d9d9;
    padding: 2rem; 
    border-radius: 0.625rem;
    grid-column: 2;
    height: 100%;
    display: grid;
    gap: 2.5rem 0.625rem; 
    grid-template-columns: 1fr 5fr;
}

.driver {
    background-color: white; 
    padding: 3.125rem; 
    border-radius: 0.5rem; 
    border-bottom: 0; 
    grid-column: 1;
    grid-row: 1;
}

.profile-img { 
    border-radius: 50%; 
    width: 8.75rem; 
    height: 8.75rem; 
}

.personal-info {
    display: flex; 
    flex-direction: column;
    background-color: white;
    border-radius: 1rem;
    grid-column: 2;
    grid-row: 1;
    gap: 0.725rem 0;
    overflow: hidden; 
    margin: 2 0 2 0;
    padding: 1rem 2rem;
    justify-content: space-evenly;
}

.personal-info label {
    font-size: 1rem;
    color: #090909;   
}

.data{
    font-size: 1.6rem; 
}

.vehicle-info {
    display: flex; 
    flex-direction: column;
    background-color: white;
    border-radius: 0.625rem; 
    grid-column: span 2;
    grid-row: 2;
    gap: 0.625rem 0; 
    overflow: hidden;
    justify-content: space-evenly;
}

.vehicle-info label {
    font-size: 1rem; 
    color: #0a0606;
    padding-left:  2rem;
    padding-bottom: 1rem;
}
 
.title {
    text-align: center; 
    padding: 2rem;
    background-color: #41444D;
    width: 100%;
}

.title .title-veiculo{
    color: white;
    font-size: 1.2rem; 
    font-weight: bold;
}

@media (max-width: 768px) {
    .driver {
        padding: 3rem; 
    }

    .driver figure{
        text-align: center; 
    }

    .profile-img { 
        width: 8rem; 
        height: 8rem;
    }
}

@media (max-width: 650px) {
    .info-profile-driver {
        padding: 1.5rem; 
        grid-column: 2;
        gap: 1.5rem 0.625rem; 
    }
}

@media (max-width: 600px) {
    .profile-driver {
        display: grid;
        grid-column: 1;
    }

    .info-profile-driver { 
        grid-column: 2;
        grid-template-columns: 1;
        grid-row: 3;
    }

    .driver {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .personal-info {
        /* grid-column: 1; */
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .vehicle-info {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media (max-width: 425px) {
    .info-profile-driver { 
        padding: 1rem;
    }

    .driver {
        padding: 1rem;
        height: auto;
    }

    .profile-img {
        height: 4rem;
        width: 4rem;
    }

    .vehicle-info label {
        padding-left:  1rem;
        padding-bottom: 1rem;
    }
}