:root {
    --main-cad-color: #D9D9D9;
    --second-cad-color: #E9E9E9;
    --rigthSide-cad-color: #282F41;
}

.main-driver {
    background-color: var(--main-cad-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.section-driver {
    background-color: var(--main-cad-color);
    display: flex;
    justify-content: center;
}

.sign-in-area-driver {
    padding: 4rem 3rem;
    background-color: var(--rigthSide-cad-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    gap: 3rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.sign-in-area-driver img {
    background-color: var(--rigthSide-cad-color);
    width: 8rem;
}

.sign-in-text-driver {
    background-color: var(--rigthSide-cad-color);
    font-family: var(--rigthSide-cad-color);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

.sign-in-text-driver h2 {
    background-color: var(--rigthSide-cad-color);
    text-wrap: wrap;
    font-size: 1.2rem;
    font-weight: 400;
}

.sign-in-text-driver h2 span {
    background-color: transparent;
    color: #A1C7F4;
    font-weight: 700;
}

.sign-in-text-driver p {
    background-color: var(--rigthSide-cad-color);
    font-size: 0.8rem;
    font-weight: lighter;
}

.sign-in-area-button-driver {
    border: 2px solid var(--main-cad-color);
    background: #3D4A6A;
    background: linear-gradient(to right,#282F41, #D9D9D9 90%);
    color: #fff;
    border-radius: 5px;
    height: 2.5rem;
    width: 10rem;
    cursor: pointer;
}

.sign-up-driver {
    padding: 2rem 5rem;
    background-color: var(--second-cad-color);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

input {
    color: var(--rigthSide-cad-color);
}

.sign-up-text-driver {
    background-color: var(--second-cad-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-up-text-driver h2, .sign-up-text-driver p {
    background-color: var(--second-cad-color);
}

.sign-up-text-driver h2 {
    color: var(--rigthSide-cad-color);
    font-weight: 700;
    font-size: 1.7rem;
}

.sign-up-text-driver p {
    color: var(--rigthSide-cad-color);
    font-size: 0.9rem;
    font-weight: 600;
}

.sign-up-input-driver {
    background-color: var(--second-cad-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.sign-up-input-driver input {
    background: var(--main-cad-color);
    color: #7a7a7a;
    border: none;
    outline: none;
    padding-left: 15px;
    height: 2.2rem;
    width: 25rem;
}

.sign-up-driver button {
    background: linear-gradient(to right,#282F41, #D9D9D9 90%);
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 12rem;
    height: 3rem;
    cursor: pointer;
}

select {
    color: #7a7a7a;
    background-color: var(--main-cad-color);
    height: 2rem;
}

option {
    color: #7a7a7a;
}

textarea {
    background-color: var(--main-cad-color);
    color: #7a7a7a;
    border: none;
}

.sign-up-input-driver .input-error {
    border: rgb(116, 62, 62) solid 1px;
}

.form_navigation button span {
    background-color: transparent;
}

.bxs-chevron-right, .bx-chevron-left {
    background-color: transparent;
}
  
.terms-checkbox {
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }
  
  .terms-checkbox input {
    width: 0.7rem;
    height: 0.7rem;
    margin-right: 3px;
    cursor: pointer;
  }
  
  .terms-checkbox label {
    font-size: 0.575rem;
    color: #7a7a7a;
  }
  

  


@media (max-width: 900px) {
    .sign-up-driver {
        padding: 2rem 4rem;
    }

    .sign-in-area-driver {
        padding: 2rem;
    }
}

@media (max-width: 800px) {
    .sign-up-driver {
        padding: 2rem 3rem;
    }
}

@media (max-width: 768px) {
    .main-driver {
        height: 100vh;
        padding: 1.5rem 0;
    }

    .section-driver {
        flex-direction: column-reverse;
        height: 100%; 
        width: 90%;
    }

    .sign-up-driver {
        padding: 1rem;
    }

    .sign-in-area-driver {
        padding: 1rem;
        width: 100%;
        height: 20rem;
        gap: 1.5rem;
    }
}

@media (max-width: 600px) {
    .sign-up-input-driver {
        width: 100%;
        align-items: center;
    }
    
    .sign-up-input-driver input {
        width: 90%;
    }

    .sign-up-input-driver #password, #vehicleBrand, #vehicleYear, #vehicleColor, #typesAdaptations, #totalCapacity, #descriptionAdaptations {
        width: 90%;
    }

    .sign-up-driver button {
        width: 10rem;
    }

    .sign-in-area-button-driver {
        width: 9rem;
    }
}

@media (max-width: 425px) {
    .sign-up-driver {
        padding: 1rem 0;
    }

    .sign-up-driver button {
        width: 9rem;
    }

    .sign-in-area-button-driver {
        width: 8rem;
    }
}