:root {
    --main-cad-color: #D9D9D9;
    --second-cad-color: #E9E9E9;
    --rigthSide-cad-color: #282F41;
}

.main {
    background-color: var(--main-cad-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.section {
    background-color: var(--main-cad-color);
    display: flex;
    justify-content: center;
}

.sign_in_area {
    padding: 4rem 3rem;
    background-color: var(--rigthSide-cad-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    gap: 3rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.sign_in_area img {
    background-color: var(--rigthSide-cad-color);
    width: 8rem;
}

.sign_in_text {
    background-color: var(--rigthSide-cad-color);
    font-family: var(--rigthSide-cad-color);
    color: #fff;
    display: flex;
    /* flex-direction: column; */
    align-items: start;
    gap: 5px;
}

.sign_in_text h2 {
    background-color: var(--rigthSide-cad-color);
    /* text-align: justify; */
    text-wrap: wrap;
    font-size: 1.2rem;
    font-weight: 400;
}

.sign_in_text h2 span {
    color: #A1C7F4;
    font-weight: 700;
}

.sign_in_text p {
    background-color: var(--rigthSide-cad-color);
    font-size: 0.7rem;
    font-weight: lighter;
}

.sign_in_area_button {
    border: 2px solid var(--main-cad-color);
    background: #3D4A6A;
    background: linear-gradient(to right,#282F41, #D9D9D9 90%);
    color: #fff;
    border-radius: 5px;
    height: 2.5rem;
    width: 10rem;
    cursor: pointer;
}


/* ========== */
.sign_up {
    padding: 2rem 5rem;
    background-color: var(--second-cad-color);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

input {
    color: var(--rigthSide-cad-color);
}

.sign_up_text {
    background-color: var(--second-cad-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign_up_text h2, .sign_up_text p {
    background-color: var(--second-cad-color);
}

.sign_up_text h2 {
    color: var(--rigthSide-cad-color);
    font-weight: 700;
    font-size: 1.7rem;
}

.sign_up_text p {
    color: var(--rigthSide-cad-color);
    font-size: 0.9rem;
    font-weight: 600;
}

.sign_up_input {
    background-color: var(--second-cad-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.sign_up_input input {
    background: var(--main-cad-color);
    color: #7a7a7a;
    border: none;
    outline: none;
    padding-left: 15px;
    height: 2.2rem;
    width: 25rem;
}

.sign_up button {
    /* background-color: #3D4A6A; */
    background: linear-gradient(to right,#282F41, #D9D9D9 90%);
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 12rem;
    height: 3rem;
    cursor: pointer;
}

select {
    color: #7a7a7a;
    background-color: var(--main-cad-color);
    height: 2rem;
}

option {
    color: #7a7a7a;
}

textarea {
    background-color: var(--main-cad-color);
    color: #7a7a7a;
    border: none;
}

.sign_up_input .input-error {
    border: rgb(116, 62, 62) solid 1px;
}

.form_navigation button span {
    background-color: transparent;
}

.bxs-chevron-right, .bx-chevron-left {
    background-color: transparent;
}