.homepage {
    /* border: red solid; */
    position: relative;
    box-shadow: inset 0px -62px 50px -30px rgba(0,0,0,0.1);
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 100px;
    background-color: #3D4A6A;
    color: #fff;
    height: 85vh;
}

.form-container h1 {
    font-size: 3rem;
}

.form-container p {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-container input {
    padding: 10px;
    max-width: 400px;
    height: 45px;
    border: none;
    border-radius: 5px;
    color: #000;
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.car-adapt {
    width: 750px;
}

.block {
    width: 125px;
    height: 110px;
    border-radius: 40px 40px 0 0;
    background-color: #D9D9D9;
    position: absolute;
    bottom: 0;
    justify-items: end;
    text-align: center;
    right: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    cursor: pointer;
}

.block i {
    color: #000;
    font-size: 40px;
}

.block:hover {
    bottom: 10px;
    transition: .4s;
}

/* ------------------ AboutUsSection ------------------ */

.about-us-section {
    /* max-width: 1280px; */
    position: absolute;
    bottom: -560px;
    width: 100vw;
    height: 70vh;
    background-color: #D9D9D9;
    border-radius: 40px 40px 0 0;
    display: flex;
    /* border: rgb(43, 255, 0) solid 1px; */
    align-items: center;
    justify-content: center;
    gap: 250px; /* tirar isso aqui jaja */
}

.accessibility {
    bottom: 0;
    /* border: red solid; */
    /* border: red solid 1px; */
}

.accessibility h2 {
    font-size: 60px;
    font-weight: 900;
    color: #050F2A;
    /* border: green solid 1px; */
}

.sign-in-up {
    /* border: orangered solid 1px; */
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sign-in-up button {
    /* border: red solid; */
    background-color: #3D4A6A;
    border-radius: 8px;
    width: 140px;
    height: 40px;
}

.sign-in-up button:hover {
    background-color: transparent;
    color: #050F2A;
    border: #3D4A6A solid 1px;
    transition: .2s ease;
}

span {
    /* border: red solid; */
    align-items: center;
    gap: 5px;
}

span p {
    text-align: center;
    color: #050F2A;
    font-weight: 700;
    /* border: yellow solid; */
}

.link {
    color: #050F2A;
    font-size: 13px;
    text-align: center;
}

.link:hover {
    color: #756641;
    transition: .4s ease-in;
}

span {
    display: flex;
}

.section-accessibility {
    /* border: red solid; */
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.people-adapt {
    width: 600px;
}

figcaption {
    color: #3D4A6A;
}


/* -------------------------  ----------------------------- */