.aboutPage {
    background-color: #e9e9e9;
    min-height: 100vh;
    max-width: 100vw;
    height: auto;
    display: grid;
    grid-template-rows: 0.01fr 0.01fr;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    overflow-x: hidden;
  }
  
  .page {
    background-color: transparent;
    display: grid;
    grid-template-columns: 0.8fr;
    grid-template-rows: 1.1fr 1fr;
    justify-content: center;
    align-items: center;
    max-width: 90vw;
    padding: 0 13% 0 13%;
    gap: 2rem;
    width: 100%;
    margin: auto;
    /* border: 1px solid red; */
  }

  .aboutpage-arrow {
    width: auto;
    margin-left: 1.5rem;
  }

  .aboutpage-arrow .bx-chevron-left {
    color: #3d4a6a;
    font-size: 4rem;
  }
  
  .aboutPage-text, .aboutPage-text2 {
    background-color: #3d4a6a;
    height: 30rem;
    width: 25rem;
    border: 0;
    border-radius: 15px;
    /* border-bottom-left-radius: 0; */
    padding: 25px;
    display: flex;
    flex-direction: column;
    /* margin: 5rem;  */
    gap: 2rem;
    align-items: center;
    box-shadow: 0 0 8px 2px #3d4a6a;
    color: #fff;
    /* margin-top: ; */
    /* border: 1px solid red; */
  }
  
  .aboutPage-text p, .aboutPage-text2 p {
    background-color: transparent;
    font-size: 1.1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
  }
  
  .aboutPage-img {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: transparent;
    grid-column: span 2;
  }
  
  .aboutPage-img1 {
    background-color: transparent;
    width: 50rem;
    /* height: 18rem; */
    margin-bottom: -5rem;
    /* border: 1px solid red; */
    /* border-radius: 50%; */
    /* box-shadow: 0 0 3px 1px #3d4a6a; */
    /* border: solid red 1px; */
  }
  
  .aboutPage-img2 {
    height: 8rem;      
    width: 10rem;
    bottom: center;
    margin-top: 3rem; 
    /* border: 1px solid red; */

  }
  
  /* Respansividade */

  @media (max-width: 960px) {
    .aboutPage-text, .aboutPage-text2 {
      width: 23rem;
    }

    .aboutPage-img1 {
      width: 42rem;
    }
  }
  
  @media (max-width: 840px) {
    .aboutPage-text, .aboutPage-text2 {
      height: 33rem;
      width: 20rem;
    }

    .aboutPage-img1 {
      width: 35rem;
    }
  }
  
  @media (max-width: 768px) {
    .page {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .aboutPage-img1 {
      height: 12rem;
      width: 18rem;
    }

    .aboutPage-img2 {
      height: 6rem;
      width: 8rem;
    }
  
  }
  @media (max-width: 375px) {
    .aboutPage-text, .aboutPage-text2 {
      width: 15rem;
      height: auto;
    }
  
    .aboutPage-img img {
      width: 16rem;
    }
  }