.aboutPage {
    background-color: #E9E9E9;
    width: 100vw;
    height: 90vh; 
}

.page{
    background-color: transparent;
    display: flex;
    justify-content:center; 
    align-items: center; 
    max-width: max-content;
    padding: 0 10% 0 10%;
    gap: 1rem;
    width: 100%;
    
}

.aboutPage_text{
    background-color: #3D4A6A;
    height: 25rem;
    width: 40rem;
    border: 0;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 8px 2px #3D4A6A;
    color: #fff;
}

.aboutPage_text p{
    background-color: transparent;
    font-size: 1.1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.aboutPage_img {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: center; 
    height: 100%;      
    width: 100%;
    background-color: transparent;
}

.aboutPage_img img {
    background-color: transparent;
    width: 20rem;
    border-radius: 15px;
}

.aboutPage_img .aboutPage_img2 {
    height: 5rem;      
    width: 8rem;
    bottom: center; 
}

