:root {
    --main-log-color: #D9D9D9;
    --second-log-color: #E9E9E9;
    --rightside-color: #3D4A6A;
}

.main-log-passenger {
    background-color: var(--main-log-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-log-passenger {
    background-color: var(--main-log-color);
    display: flex;
    justify-content: center;
}

.sign-in-log-passenger {
    padding: 4rem 5rem;
    background-color: var(--second-log-color);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.sign-in-arrow{
    background-color: transparent;
}

.sign-in-arrow i{
    margin-left: -13rem;
    font-size: 3.2rem;
    color: var(--rightside-color);
}

.sign-in-text-log-passenger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-in-text-log-passenger h2 {
    color: var(--rightside-color);
    font-weight: 500;
    font-size: 1.7rem;
}

.sign-in-text-log-passenger p {
    color: var(--rightside-color);
    font-size: 0.9rem;
    font-weight: 600;
}

.sign-in-input-log-passenger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
}

.sign-in-input-log-passenger input {
    background: var(--main-log-color);
    border: none;
    outline: none;
    padding-left: 15px;
    height: 3rem;
    width: 25rem;
}

.sign-in-input-log-passenger p {
    color: var(--rightside-color);
    font-size: 0.7rem;
}

.profile-passenger-log {
    background: linear-gradient(to right,var(--rightside-color), var(--main-log-color) 90%);
    font-size: 1rem;
    font-weight: 400;
    border: none;
    border-radius: 5px;
    width: 12rem;
    height: 3rem;
    cursor: pointer;
}

.sign-up-area-log-passenger {
    padding: 4rem 3rem;
    background-color: var(--rightside-color);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 35%;
    gap: 3rem;
}

.sign-up-area-log-passenger img {
    width: 8rem;
}

.sign-up-text-log-passenger {
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sign-up-text-log-passenger h2 {
    text-align: justify;
    text-wrap: wrap;
    font-size: 1.2rem;
    font-weight: 400;
}

.sign-up-text-log-passenger p {
    font-size: 0.7rem;
    font-weight: lighter;
}

.sign-up-area-button-log-passenger {
    border: 2px solid var(--main-log-color);
    background: linear-gradient(to right,var(--rightside-color), var(--main-log-color) 90%);
    color: #fff;
    border-radius: 5px;
    height: 2.5rem;
    width: 10rem;
    cursor: pointer;
}

@media (max-width: 900px) {
    .section-log-passenger .sign-in-log-passenger {
        padding: 1rem 2rem;
        width: 65%;
    }
}

@media (max-width: 800px) {
    .main-log-passenger {
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    .section-log-passenger {
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .section-log-passenger .sign-in-log-passenger {
        width: 100%;
    }

    .section-log-passenger .sign-up-area-log-passenger {
        padding: 2rem;
        width: 100%;
    }
}

@media (max-width: 600px) {
    .sign-in-input-log-passenger #password {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .section-log-passenger .sign-in-log-passenger {
        width: 25rem;
    }

    .sign-in-input-log-passenger #email, #password {
        width: 20rem;
    }
}

@media (max-width: 425px) {
    .section-log-passenger .sign-in-log-passenger {
        width: 20rem;
    }

    .sign-in-input-log-passenger #email, #password {
        width: 15rem;
    }

    .sign-in-arrow i{
        margin-left: -8.5rem;
    }

    .profile-passenger-log {
        width: 10.5rem;
    }
}

@media (max-width: 350px) {
    .main-log-passenger {
        padding: 1rem;
    }

    .section-log-passenger .sign-in-log-passenger {
        width: 18rem;
    }
}